@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    
}
table {
    border-collapse: collapse;
    text-align: center;
}

thead {
    color: white;
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 7px;
}

th {
    background-color: gray;
}
tr.media {
    background-color: gray;
    color: white;
    font-weight: bold;
    text-align: center;
}
tr.media > th {
    text-align: left;
}

td.materia {
    text-align: left;
}